body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginLeft16 {
  margin-left: 16px;
}

.marginTop16 {
  margin-top: 16px;
}

.paddingLeft16 {
  margin-left: 16px;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}